<!DOCTYPE html>
<html ng-app='app'>
    
    <head>
        <title>Jacob Turner</title>
        <link rel="stylesheet" href="styles/normalize.css">
        <link rel="stylesheet" href="styles/style.css">
        <link rel='stylesheet' href='styles/blogStyle.css'>
        <link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,400,300,600,700' rel='stylesheet' type='text/css'>
        <link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
        <link href='http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css' rel='stylesheet'>
        <link rel='stylesheet' href='App/textAngular/textAngular.min.css'>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, user-scalable=no">
    </head>
    <body ng-controller='mainCtrl'>
        <div class="background-image">
            <img src="attachments/background.jpg">
        </div>
        <div class="header">
            <div class="top-bar">
                <img src="attachments/me-small.jpg">
                <div class='nav'>
                    <!-- <button ng-click="go('http://www.google.com')">Home</button>
                    <button>New Post</button>
                    <button>View Blog</button>
                    <button>Portfolio</button>
                    <button>About Me</button> -->
                    <a href='index.html'>Home</a>
                    <a href='createBlogPost.html'>New Post</a>
                    <a href='viewPosts.html'>View BLog</a>
                </div>
            </div>
        </div>
        <div class="wide-container createBlogPost" id='createBlogContainer'>
        <div class='space'>
        </div>
            <div class='createInputs'>
            <h1>Create a New Blog Post!</h1>
            <input type='text' placeholder='Post Title' class='addBlogTitle' ng-model='postTitle'></input>
<!--             <textarea name='text' placeholder='Post Content' class='addBlogContent' ng-model='postBody'></textarea> -->
            <text-angular ng-model="postBody"></text-angular>
            <button ng-click='postContent()'>Submit Post</button>
            </div>
        </div>
        <div class='spacer-vertical top'>
        </div>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/angular.js/1.2.20/angular.min.js"></script>
    <script src='App/textAngular/textAngular-sanitize.min.js'></script>
    <script src='App/textAngular/textAngular.min.js'></script>
    <!-- <script src='App/angular-route.js'></script> -->
    <script src='App/app.js'></script>
    <script src='App/mainCtrl.js'></script>
    <script src='App/dataService.js'></script>
    <script src='App/defaultHeader.js'></script>
    </body>
</html>