<div class='wide-container'>
<div class="floating-container">
    <div class="content">
		<h1>About me</h1>
		<div class='flex-table'>
    	<span>
    		<img id='about-me-img' src='Attachments/me-big.jpg'>
    	</span>
	    <span>
	                 <p id='about-me'>Obsoletely Fabulous
	Yes, except the Dave Matthews Band doesn't rock. Say what? No, she'll probably make me do it. We'll need to have a look inside you with this camera. I suppose I could part with 'one' and still be feared… Bender, quit destroying the universe!
	The Prisoner of Benda
	Stop! Don't shoot fire stick in space canoe! Cause explosive decompression! Dr. Zoidberg, that doesn't make sense. But, okay! OK, this has gotta stop. I'm going to remind Fry of his humanity the way only a woman can.
	They're like sex, except I'm having them!
	Five hours? Aw, man! Couldn't you just get me the death penalty?</p>
	    </span>
	    </span>
    </div>
</div>
</div>