<div class="wide-container portfolio">
    <div class="work">
        <h1>Some of my work...</h1>
    </div>
    <div class="flex-table">
            <div class="content">
                <img src="attachments/wikimedia.jpg">
            </div>
            <div class="content">
                <img src="attachments/medium.jpg">
            </div>
            <div class="content">
                <img src="attachments/slc-dentistry.jpg">
            </div>
            <div class="content">
                <img src="attachments/newsflash.jpg">
            </div>
    </div>
</div>