<div class="wide-container createBlogPost" id='createBlogContainer'>
<div class='space'>
</div>
    <div class='createInputs'>
    <h1>Create a New Blog Post!</h1>
    <input type='text' placeholder='Post Title' class='addBlogTitle' ng-model='postTitle'></input>
<!--             <textarea name='text' placeholder='Post Content' class='addBlogContent' ng-model='postBody'></textarea> -->
    <text-angular ng-model="postBody"></text-angular>
    <button ng-click='postContent()'>Submit Post</button>
    </div>
</div>