/*color Theme: complements ocean:
  https://kuler.adobe.com/complements-ocean-color-theme-4360835/*/

body {
	width: 100%;
	min-width: 300px;
	box-sizing: border-box;
}
* {
	font-family: 'Open Sans', sans-serif;
	font-color: #19191D;
}
.background-image img {
	position: fixed;
	bottom: 0px;
	width: auto;
	z-index: -1;
}
.top-bar {
	height: 45px;
	background-color: rgba(34, 51, 68, .8);
	width: 100%;
	z-index: 100;
	position: fixed;
	border-bottom: 1px solid #000;
	display: flex;
	justify-content: space-between;
}
.top-bar img {
	width: auto;
	height: 40px;
	border: 1px solid rgba(85, 119, 136, .5);
	border-radius: 30px;
	margin: 2px;
}
.nav {
	align-self: center;
	margin: 0px 10px;
}
.nav button {
	width: 120px;
	background: #BBD7CC;
	border: 0px;
	border-radius: 4px;
	box-shadow: 0px 0px 4px .5px #19191D;
}
.nav button:hover {
	border: 1px solid #19191D;
}
.nav button:active {
	background: purple;
}
.floating-container {
	display: flex;
	justify-content: space-between;
	flex-direction: row;
}
.content {
	background: rgba(252, 252, 252, .5);
	width: 450px;
	margin: 60px;
	padding:20px;
	border: 1px solid transparent;
	border-radius: 10px;
	order: 2;
}
.share-buttons {
	display: flex;
	justify-content: space-around;
	flex-direction: row;
	margin: 0px 30px;
	font-color: #19191D;
}
.share-buttons i {
	transition: all .2s ease;
}
.fa-facebook-square:hover {
	color: #3b5998;
}
.fa-twitter-square:hover {
	color: #55acee;
}
.fa-linkedin-square:hover {
	color: #0976b4;
}
.fa-google-plus-square:hover {
	color: #db4437;
}
.fa-github-square:hover {
	color: #333;
}
.fa-envelope-o:hover {
	color: #aaa;
}
a {
	color: inherit;
}
.content i {
	font-size: 2rem;
}
h1 {
	text-align: center;
}
.spacer {
	background: transparent;
}
.spacer.1 {
	order: 1;
}
.spacer.2 {
	order: 2;
}
.spacer-vertical.top {
	height: 1000px;
}
.wide-container {
	width: 100%;
	background-color: #557788;
	height: auto;
	box-shadow: 0px 1px 7px 1px #444;
	padding: 15px;
	text-align: left;
	box-sizing: border-box;
}
.work {
	width:100%;
}
.flex-table {
	display: flex;
	justify-content: space-around;
	flex-direction: row;
	flex-wrap: wrap;
}
.floater {
	padding: 15px;
	margin: 10px;
	background: rgba(252, 252, 252, .5);
	border: 1px solid transparent;
	border-radius: 10px;
	box-shadow: 2px 2px 7px 1px #444;
}
.floater img {
	height: auto;
	width: 100%;
	max-width: 800px;
}
.floater:last-child {
	margin-bottom: 0px;
}
.wide-container.portfolio h1 {
	text-align: left;
}
.space-vertical.bottom {
	height: auto;
}
button {	width: 200px;
}
@media (max-width:600px) {
	.content {
		width: 90%;
		margin: 60px 5px;
	}
}
/*@media (max-width:1600px) {
	.flex-table {
		flex-direction: column;
	}
}*/